.hero {
	/*background-color: #288FEB;*/
	height:100%;
    position: relative;
    background: url("../images/bg5.png") center center;
    /*background-color: #3498db;*/
    width: 100%;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 5%;
}

.hero .hero-title {

    font-family: "Raleway",sans-serif;
    /*font-size: 16px;*/
    font-weight: 300;
    letter-spacing: 0.1em;
    /*text-align: center;*/
    text-transform: uppercase;
	padding-top: 5% !important;
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    width: 60%;
    color: white !important;

}

.hero .hero-text {
	/*color: #333;*/
    color: #f2f2f2 !important;
    font-size: 18px;
    width: 60%;
    font-family: "Raleway", sans-serif;

}


#greywrap h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Grand Hotel',"Raleway",sans-serif, "PT Serif","Times New Roman",Times,serif;*/
/*    font-family: "Raleway",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;*/
    /*color: white ;*/
    /*text-align: center;*/
}