body {
    background-color: rgba(0,0,0,.04);
    font-family: "Raleway",sans-serif, "PT Serif","Times New Roman",Times,serif;
    /*height: 100% !important;*/
}

h1, h2, h3, h4, h5 {
    line-height: 1.5em;
  }


section {
	min-height: 800px;
	color: white;
	font-size: 3em;
	padding-top: 50px;

}

.section-title {
	font-family: "Raleway",sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0 0 30px;
	/*padding:  0;*/
	color: white !important;

}

.process {
	background-color: #e67e22;
}


.pricing {
	background-color: #9b59b6;
}

.team {
	background-color: #1abc9c;
}

.faq {
	background-color: #e74c3c;
}

.contact {
	background-color: #f1c40f;
}

.questions {
	background-color: #2c3e50;

}