.questions {
	height: 90%;
  background: url("../images/bg5.png") center center;
  /*background: url("../images/bg11.jpg") center center;*/
  background-size: cover;
  color: white;
}
.questions form {
	background-color: clear;
}

.questions .question-bg {
  /*padding-top: 10px;*/
  /*background: url("../images/bg11.jpg") center center;*/
}
.questions .section-title {

}

.questions .well{
	background: none;

  height: 400px;
  overflow: auto;

}


.questions .btn-custom {
	width: 120px !important;
  margin-bottom: 20px;

}

.questions .next {
  background-color: #31b0d5   ;
  color: white;
}

.questions .prev {
  background-color: #f8f8f8   ;
  color: #2c3e50;
}

.questions .btn[disabled] {
   
   opacity: 0.30;
}



.hidden-navbar {
	display:none;
}



.questions .tab-content input {
	font-size: 14px;
	/*background-color: #2c3e50;*/
  background: transparent;
  border-bottom: 1px solid #ccc;
	color: white;
  box-shadow: none;

}

.questions label {
    font-size: 16px;
}

.questions .fixed-width-label {
    width: 200px;
}


.questions .fa-plus-circle {
    font-size: 99%;
    padding-right: 5px; 
}

.questions .fa-minus-circle {
    /*font-size: 50%;*/
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;

}

.questions .bg-checkbox {
    /*background-color: #7f8c8d;*/
    /*border: 1px solid #7f8c8d;*/

}

.questions .subtext {
    /*color: #3c3e45;
    background-color: #f2f7f7;
    margin-left: 5px;
    margin-right: 5px;*/
}



.questions .helper-message {
  height: 20%;
  /*color: #ccc;*/
}

.questions .help-block {
  
  /*color: #ccc;*/
}


.questions .button-footer {
  height: 20%;
}


.questions .add-loan {

  float: right;  

}

.questions .row {
  margin-top: 10px;
  margin-bottom: 10px;
}



.cssSlideUp {
    transition: .5s linear all;
    height: 200px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}

.cssFade {
    transition: 0.8s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

.questions label.small-text {
  font-size: 14px;
  margin-top: 10px;
}
.questions .small-text > label {
  font-size: 14px;
}

.questions .level1 {
  /*padding-top: 4px;*/
  padding-bottom: 5px;
  /*border-top: 1px solid;*/
  border-bottom: 1px solid;
}
.questions .level2 {
  /*padding-top: 4px;*/
  padding-bottom: 2px;
  /*border-top: 1px solid;*/
  border-bottom: 1px solid;
}

.questions .extra-padding {
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.questions .answers {
  /*color: #c2c8cc;*/
}


.questions .input-custom {
  max-width: 800px !important;
}

.questions .add-more {
  margin-left: 200px;
}


.questions a.special-a {
  text-decoration: none;
  color: #fff;
}

/*CSS for placeholder text*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff !important;
}

.ngdialog-content {
  background-color: #f6f9f9 !important;
}
.modal-display {
  font-family: "Raleway",sans-serif;
  /*font-size: 16px;*/
  background-color: #f6f9f9;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0 0 30px;
}

.modal-display button {
  margin-top : 20px;
}