.questions {
	height: 100%;
}
.questions form {
	background-color: clear;
}

.questions .section-title {

}

.questions .well{
	background: none;

}


.questions .btn-custom-width {
	width: 80px !important;
}

.hidden-navbar {
	display:none;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssSlideUp {
    transition: .5s linear all;
    height: 200px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}

.cssFade {
    transition: 0.8s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

.questions .tab-content input {
	font-size: 16px;
	background-color: #2c3e50;
	color: white;
    
    box-shadow: none;
}

.questions h4 {
    /*font-size: 16px;*/
}
.questions .fixed-width-label {
    width: 200px;
}


.questions .fa-plus-circle {
    font-size: 50%;
    padding-right: 5px; 
}

.questions .fa-minus-circle {
    font-size: 50%;
}




