
.reco {
	background: url("../images/bg11.jpg") center center;
	color: #fff;
}

.reco .reco-section-column {
	/*border: 1px solid #fff;*/
	vertical-align: middle;
	position: relative;
	/*font-family: "Open Sans", "Times New Roman",Times,serif;*/
/*	min-height: 100px;
	margin-bottom: 10px;
*/
}

.reco .details-title {
	border-bottom: 1px solid #000;
	text-align: left;
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;

}

.reco .details-content {

	text-align: left;
	padding-top: 5px;

}

.reco .details-footer {
	position: absolute;
	bottom: 0;
	left:0;
}

.reco .details-title-half {
	height: 50% !important;
	/*display: table-row;*/
}

.reco .fa-inr {
	padding-right: 3px;
}

.reco .expanded-details {
	background-color: #fff;
	color: #444;
	border: 1px solid #fff;
}

.reco .well {
	background: none;
	overflow: auto;
	border:none;
	/*margin-bottom: 0px;*/
}

.reco .well-custom {
	background: none;
	overflow: auto;
	border: 1px solid #fff;
	margin-top: 20px;
	/*margin-bottom: 0px;*/
}



.reco .ins-heading {
	font-family: "Raleway",sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	/*color: white ;*/
	text-align: center;

}


.reco input {
	font-size: 14px;
	background-color: #3c90be;
	color: white;
  	box-shadow: none;
  	border: 1px solid #ccc;
    /*border-radius: 4px;*/
    text-shadow: none;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    text-align: center;
}

.reco #collapseOne {
	border: 1px solide #fff;
	margin-right: 0px;
	padding-right: 0px;
}

.reco a.special-a {
	text-decoration: none;
	color: #fff;
}



.reco .li-insurance-content {
	/*opacity: 0.4;*/
}

.reco .li-insurance-content:hover {
	/*opacity: 1;*/
/*	background-color: #f8f8f8;
	color: #7d7d7d !important;*/
}

.reco .row .reco-section-column {
	min-height: 50px !important;
	font-size: 12px;
}

.reco .row .reco-section-column img{
	padding-bottom: 10px;

}


.reco .row.heading div {
	
	font-size: 12px;
	font-weight: bold;
	/*opacity: 1;*/


}


.reco input[type=range]{
    -webkit-appearance: none;
    display: inline-block;
    border-right-width: 0;
    border-left-width: 0;
}

.reco input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.reco input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

.reco input[type=range]:focus {
    outline: none;
}

.reco input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.reco .slider-label{
    margin-bottom:5px;
    /*border : 1px solid red;*/
    width : 60px;
    height : 20px;
    line-height : 20px;
    position:relative;
    text-align : center;
}

.reco .display-amount {
	font-family: "Open Sans";
	border: 1px solid #ccc;
	width: 100px !important;
	font-size: 18px;
	background-color: #ccc;
	color: #333;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;

}


.reco .reco-selected {

	background-color: #f8f8f8;
	color: #7d7d7d !important;
	/*opacity: 1;*/
}

.reco .message {
	
	color: #ccc;
	text-align: center;
}

.reco .btn-header {
	width: 200px !important;
	/*margin-bottom: 20px;*/
}	
