.signup {

	background: url("../images/bg5.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	padding-top: 3%;
	/*color: #f8f8f8;*/
	color: #fff;
	overflow: auto;
	font-family: "Roboto Slab", "Open Sans", "Raleway",sans-serif;
	/*letter-spacing: 0.1em;*/
	font-weight: 400;
  	/*text-align: center;*/
  	/*margin: 0 0 30px;*/


}

.signupSection {
	min-height: 200px;
	/*border: 1px solid #fff;*/
	padding: 15%;
	opacity: 0.5;
}

.signup .well {
	background: rgba(34,19,73,0.30);
  	height: 450px;
  	overflow: auto;
  	border: none;
}

.active {
	opacity: 1.0 !important;
}

.signup .question-text {
	font-size: 16px;
}

.signup .question-sub-text {
	color: #ccc;
	font-size: 12px;
	padding-bottom: 5px;
}

.signup .center-question {
	padding-top: 10%;
	padding-bottom: 16px;
}

.signup answer-text {
	color: #f8f8f8 ;	
	font-size: 14px;

}

.signup .transparent-input {
	background-color:transparent !important;
    /*border:none !important;*/
    /*box-shadow:none !important;*/
    color: inherit;
}

.signup .well {
	/*background-color:transparent !important;*/
}

.signup .extra-margin-top {
	margin-top: 15px;
}

.signup .extra-margin-bottom {
	margin-bottom: 15px;
}

.signup .no-left-padding {
	padding-left: 0;
}

.signup .uppercase {
	text-transform: uppercase;
}


.signup .btn-custom {
  width: 120px !important;
  margin-bottom: 20px;

}

.signup .next {
  background-color: #31b0d5   ;
  color: white;
}

.signup .prev {
  background-color: #f8f8f8   ;
  color: #2c3e50;
}

.signup .btn[disabled] {
   
   opacity: 0.30;
}

.signup a.special-a {
  text-decoration: none;
  color: #fff;
}

.signup .small {
	font-size: 10px;
	
}

.signup .underline {
	text-decoration: underline !important;
}

.signup .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
	
}
.signup .custom-addon {
  background-color: inherit;
  color: inherit;
}

.signup .section-heading {
	font-size: 22px;

}

.signup .btn[disabled] {
	/*background-color: #D9534F;*/
}

.signup .toast-error {
	background-color: #D9534F;	
}

.signup .toast-success {
	background-color: #4AA24A;	
}

.signup .pwd-regex {
	white-space: nowrap;
	text-align: left !important;
}