.tax-savings-hero {
    /*background-color: #B05F6D;*/
    min-height:500px !important;
    position: relative;
    background: url("../images/bg5.png")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    /*padding-bottom: 5%;*/
    color: #ecf0f1 !important;
}


.tax-savings-hero .large {
    font-size: 56px;
    /*margin-top: 50px;*/
    margin-top: 10%;
}

.tax-savings-hero .medium {
    font-size: 26px;
}

.tax-savings-hero .small {
    font-size: 18px;
}

.tax-savings-hero .tax-savings-hero-title {

    font-family: "Roboto Slab","Raleway",sans-serif;
    padding-top: 5% !important;
    color: #ecf0f1 !important;

}

.tax-savings-hero .tax-savings-hero-text {
    font-family: "Dosis","Roboto Slab";
    color: #ecf0f1 !important;
}

.tax-savings-hero .extra-margin-top {
    margin-top:  20px;   
}

.tax-savings-hero .title-btn {
    background-color: #ecf0f1;
    color: #003171;
}


.taxsavings .fa {
    padding-right: 10px;
}

.taxsavings .tax-consideration {
 /*background-color: #E8EAF6   ;*/
 padding-top: 5%;
 padding-bottom: 5%;
}

.taxsavings .tax-saving-info {
    /*background: #2980B9;*/
    background: rgb(34,19,73); /* for IE */
    background: rgba(34,19,73,0.80);

    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;

}


.taxsavings .bottom-cta {
    /*min-height: 300px;*/
    background: rgb(34,19,73); /* for IE */
    background: rgba(34,19,73,0.80);

    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
    /*margin-bottom: 20px;*/
}


.taxsavings .bottom-cta .btn {
    background-color: #ecf0f1;
    color: #003171;

}


.taxsavings .riskQuestions {
    padding-top: 75px !important;
}
