
<section id="contact" class="contact text-center">
	<!-- ==== CONTACT ==== -->
	<div class="container">
		<div class="row">
			<h1 class="contact-title">Contact us</h1>
			<hr>
			<div class="col-lg-4">
				<h3 class="ins-heading">Connect</h3>
				<p class="contact-text">
					<span class="fa fa-mobile"></span> +91 80955 59700 <br/>
					<span class="fa fa-envelope-o"></span> <a href="mailto:mayank@mintingworks.com?Subject=Hello Mayank!" target="_top">mayank@mintingworks.com </a> <br/>
					<span class="fa fa-envelope-o"></span> <a href="mailto:saurabh@mintingworks.com?Subject=Hello Saurabh!" target="_top">saurabh@mintingworks.com </a> <br/>
				</p>
			</div><!-- col -->
			
			<div class="col-lg-4">
				<h3 class="ins-heading">Visit</h3>
				<span style="line-height: 25px" class="fa fa-home"></span> &nbsp;#10901, Tower 1,<br/>
				<span style="line-height: 28px"> Bhuvana Greens, </span><br/>
				<span style="line-height: 28px"> Kasavanahalli Main Road, </span><br/>
				<span style="line-height: 28px"> Sarjapur Road, Bangalore.</span><br/>
			</div><!-- col -->

			<div class="col-lg-4">
				<iframe frameborder="0" style="border: 2px solid #444851; border-radius: 2px; margin-top: 10px;" scrolling="no" marginheight="0" marginwidth="0" width="375" height="250" src="https://maps.google.com/maps?hl=en&q=Bhuvana Greens&ie=UTF8&t=roadmap&z=14&iwloc=B&output=embed"></iframe>
			</div><!-- col -->

		</div><!-- row -->		
	</div><!-- container -->
	
	<br>
	<br>
	
	<!-- ==== FOOTER ==== -->
	<div id="footerwrap">
		<div class="container">
			<h6 class="footer-text">&copy;2015 Minting Works</h6>
			<div class="text-muted footer-text">Mutual Fund investments are subject to market risks, read all scheme related documents carefully. Past performance is not an indicator of future returns</div>
			
		</div>
	</div>
</section>
