
<!-- ==== Fixed navbar === -->
<div id="custom-navbar-main">
    <div class="navbar transparent navbar-default navbar-fixed-top navbar-right">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <i class="fa fa-bars" style="color: #fff; font-size: 22px;"></i>
          </button>

        </div>
        <div class="navbar-collapse navbar-ex1-collapse collapse">
            <ul class="nav navbar-nav">
                <li> <a ng-href="/home" class="smoothScroll company-caption"><i class="fa fa-chevron-circle-up"></i> MintingWorks</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>

