<template name="default">
	
	<div ng-include="'client/templates/navbar.ng.html'"></div>
	<div ng-include="'client/templates/hero.ng.html'"></div>
	<!-- <div ui-view></div> -->
	<div ng-include="'client/templates/process.ng.html'"></div>
	<div ng-include="'client/templates/why-us.ng.html'" ></div>
	
	<div ng-include="'client/templates/faq.ng.html'" ></div>
	<div ng-include="'client/templates/team.ng.html'" ></div>
	
	<div ng-include="'client/templates/contact.ng.html'" ></div>
	<!-- <div ng-include="'client/templates/main.ng.html'"></div> -->
	
	<!-- <div ng-include="'index.ng.html'"></div> -->
</template>