<section id="faq" class="faq">
<!-- ==== FAQ ==== -->
	<div class="container" id="faq">
		<div class="row">
			<h1 class="faq-title">Frequently asked questions</h1>		
			<hr>
			<div class="col-lg-5 col-lg-offset-1">
				<h4 class="ins-heading">1. How do I register for MinitingWorks services?</h4>
				<p class="faq-text">Once you fill in questionnaire use algorithms to understand your risk tolerance. This profiling helps us understand the right fit for your financial needs. </p>

				<h4 class="ins-heading">2. What information will you need?</h4>
				<p class="faq-text">We need to understand your current financial status, past investments, outstanding liabilities and potential future risks and requirements to come up with an investment plan. It doesn’t matter whether the answers to a lot of the questions are “none” or “nothing” for you. Those answers are equally important. Note that the strength of the plan depends on the availability of information.</p>

				<h4 class="ins-heading">3. When do I need to pay?</h4>
				<p class="faq-text">You can pay us after we present our investment recommendations based on your profile. The payment can be done through online bank transfer or IMPS.</p>
			</div><!-- col-lg-5 -->
			
			<div class="col-lg-5">
				<h4 class="ins-heading">4. What if I don’t like your financial plan?</h4>
				<p class="faq-text">We will ensure that the recommended financial plan meets your objectives in life. So we see little chances of this happening. However, if you are not convinced about our service, you don’t need to pay. We would however be keen to understand why we didn’t meet your expectations - it helps us get better.</p>

				<h4 class="ins-heading">5. Do you make money from what I invest in?</h4>
				<p class="faq-text"><b>No.</b> We don’t have any tie ups with banks or other financial product companies. We don’t earn commissions for any sales. We would even guide you to complete the investments completely online - which ensures that you don’t have to pay commissions to anyone. We only earn because of the fees you pay us. This ensures we are not biased in our recommendations. Our intent is to serve you again - and we understand that only the quality of our services will ensure that you continue to work with us and recommend us.</p>
			</div><!-- col-lg-5 -->
			
		</div><!-- row -->
	</div><!-- container -->
</section>

