<div ng-include="'client/templates/custom-navbar.ng.html'"></div>
<div class="signin extra-margin-top">
	<div class="container extra-margin-top">
		<div class="col-md-6 col-md-offset-3 extra-margin-top">
			<div class="well well-lg extra-margin-top">
				<div ng-form="stepForm" >
					<div ng-if="global.resetPassword == true">
						<div class="section-heading text-center">Forgot Password</div>
						<hr>

						<h4 for="password">New Password <i class="fa fa-question-circle pwd-regex" data-toggle="tooltip" data-placement="top" data-html="true" title="Password should meet following criteria: <br/>
							Minimum 8 characters in length <br/>
							At least one uppercase letter <br/>
								At least one lowercase letter <br/>
							At least one number <br/>
							At least one special character <br/>
							"></i></h4>
						<input class="form-control input-md transparent-input" name="password" ng-blur="checkPwdRegex()" ng-model="$parent.password" type="password" required>
						<label class="label label-danger" ng-show="!pwdCriteriaMatch">Password does not meet requirement criteria.</label>
						<div class="help-block" ng-messages="stepForm.password.$error"  ng-show="stepForm.password.$touched"><div ng-messages-include="client/templates/messages.html"></div></div>
						<h4 class="question-text" for="reenterPassword">Re-enter password</h4>
						<input class="form-control input-md transparent-input" name="reenterPassword" ng-model="$parent.reenterPassword" type="password" ng-blur="checkRenteredPassword()" ng-focus="passDoNotMatch = false;" required>
						<div class="help-block" ng-messages="stepForm.reenterPassword.$error"  ng-show="stepForm.reenterPassword.$touched"><div ng-messages-include="client/templates/messages.html"></div></div>
						<label class="label label-danger" ng-show="passDoNotMatch">Password do not match. Re-enter password.</label>

						<div class="row extra-margin-top extra-margin-bottom">
							<button class="btn btn-success text-center col-md-4 col-md-offset-4 extra-margin-top" ng-disabled="stepForm.$invalid" ng-click="resetPassword()">Reset Password</button>
						</div>
						<div class="extra-margin-top text-center underline"><a class="special-a" ng-href="/signin">Back to Sign In</a></div>
					</div>
				</div>
				<div ng-form="forgotPWDForm">
					<div ng-if="global.resetPassword != true">
						<div class="section-heading text-center">Send Recovery Email</div>
						<hr>
						<h4 for="email" class="extra-margin-top">Email</h4>
						<input class="form-control input-md transparent-input extra-margin-top extra-margin-bottom" name="email" ng-model="$parent.email" type="email"  placeholder="Enter email" required>
						<div class="help-block" ng-messages="forgotPWDForm.email.$error"  ng-show="forgotPWDForm.email.$touched"><div ng-messages-include="client/templates/messages.html"></div></div>
						<div class="row extra-margin-top extra-margin-bottom">
							<button class="btn btn-success text-center col-md-4 col-md-offset-4 extra-margin-top" ng-disabled="forgotPWDForm.$invalid" ng-click="sendPwdEmail()">Send</button>
						</div>
						<div class="extra-margin-top text-center underline"><a class="special-a" ng-href="/signin">Back to Sign In</a></div>


						
					</div>

				</div>

			</div>

<!-- 			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<h4 for="exampleInputEmail1">Email</h4>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="$parent.signin.email">
						</div>
						<div class="form-group">
							<h4 for="exampleInputPassword1">Password <a href="/forgot_password">(forgot password)</a></h4>
							<input type="password" class="form-control" id="exampleInputPassword1" ng-model="$parent.signin.password" placeholder="Password">
						</div>
                            <button class="btn btn-success text-center col-sm-offset-5" ng-click="login()">Sign in</button>
					</form>
                    <h4 class="col-sm-offset-4">Don't have an account!<a ng-href="/signup"> Open Account</a></h4>
                    <p id="form-messages"></p>
				</div>
			</div>
 -->		</div>
	</div>
	<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'position-class': 'toast-center'}"></toaster-container>
	<div id="spinner" class="spinner"><i class="fa fa-refresh fa-4x fa-spin"></i></div>
</div>
