<section class="hero">
	<div class="container">
		<div class="col-md-7">
			<h1 class="hero-title">Intelligent Investments For All</h1>
			<h3 class="hero-text">At Antkarma we believe everyone irrespective of how much money they invest deserves the world class investment advice. We understand how hard you worked for your money. We are determined to provide you unbiased investment options backed by our cutting edge technology so you get maximum return for your investment.</h3>
			<!--   -->
			<a class="btn btn-lg btn-info pull-right" href="/questions" role="button">Invest Now</a>
		</div>
	</div>
</section>
