<section class="hero" id="startchange">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="hero-title large text-center">Intelligent Investments For All</div>
			<hr>
			<div class="hero-text medium text-center animated fadeInLeftBig">Personal finance management made simple</div>
			<div id="mlb2-1495887" class="ml-subscribe-form subscribe-section">
			    <div class="">
			        <div class="subscribe-form ml-block-success" style="display:none">
			            <div class="form-section">
			                <p class="hero-text small">Thank you! You have successfully subscribed to our newsletter.</p>
			            </div>
			        </div>
			        <form class="form-inline ml-block-form" action="//app.mailerlite.com/webforms/submit/f6b4i4" data-code="f6b4i4" method="POST" target="_blank">
			            <div class="subscribe-form">
			                    
			                    <div class="form-group col-md-12 ml-field-email ml-validate-required ml-validate-email">
			                    	<p class="hero-text small col-md-4 extra-padding">Get notified when we launch!</p>
			                        <input type="email" name="fields[email]" class="form-control email" placeholder="happysaver@mintingworks.com" value="">
					                <input type="hidden" name="ml-submit" value="1" />
					                <button type="submit" class="btn btn-info">
					                    Subscribe
					                </button>
					                <button disabled="disabled" style="display: none;" type="submit" class="loading gradient-on">
					                    <img src="//static1.mailerlite.com/images/rolling.gif" width="20" height="20">
					                </button>
			                    </div>
			            </div>
			        </form>
			        <script>
			            function ml_webform_success_1495887() {
			            	jQuery('#mlb2-1495887').find('.ml-block-success').show();
			                jQuery('#mlb2-1495887').find('.ml-block-form').hide();
			            	setTimeout(function() {
			            		jQuery('#mlb2-1495887').find('.ml-block-success').hide();
			                	jQuery('#mlb2-1495887').find('.ml-block-form').show();
			            	}, 3000);

			            	// jQuery('#mlb2-1495887').find('.ml-block-form').show();
			                
			            };			            
			        </script>
			    </div>
			</div>
			<script type="text/javascript" src="//static1.mailerlite.com/js/w/webforms.js?v21"></script>
		</div>
	</div>
</section>
<section class="sub-hero">
	<div class="sub-hero-text ">We have lots of aspirations in our lives - things to do, places to visit, buy the dream home, help the kids get the best education and so on. And we work hard towards achieving these goals. Wouldn’t it be great if you could get help in achieving these goals with more certainty?</div>

	<div class="sub-hero-text">At MintingWorks, we believe that aspirations in life can be achieved better with better planning. We help you setup financial goals and work towards achieving them. You define the goals and we help you figure out the best ways to achieve them. 	All in a simple intuitive way and from the comfort of your home.</div>
	<hr>
</section>

