<section class="hero">
	<div class="container">

		<h1 class="hero-title">Intelligent Investments For All</h1>
		<h3 class="hero-text">At antkarma we believe everyone irrespective of how much money they invest deserves the world class investment advice. We understand how hard you worked for your money. We are determined to provide you unbiased investment options backed by our cutting edge technology so you get maximum return for your investment.</h3>
		<!--   -->
		<a class="btn btn-info" href="/questions" role="button">Get Started &raquo;</a>
			<!-- ==== GREYWRAP (Part of hero section - 6 points) ==== -->
	</div>
</section>
<!-- <div class="container text-center">
	<div id="greywrap">
		<div class="row">
			<h3 class="section-heading">Tax saving investments require careful consideration.</h3>
			<div class="col-lg-4 callout">
				<i class="fa fa-search fa-2x"></i>
				<h4>Which life insurance do I buy?</h4>
				<p>How much cover do I need? Is a money back policy better suited than a term insurance? Which insurer should I go with?</p>
			</div>
				
			<div class="col-lg-4 callout">
				<i class="fa fa-line-chart fa-2x"></i>
				<h4>How do I make my money grow?</h4>
				<p>Isn’t investing in mutual funds risky? How do I pick the right mutual fund? How about PPFs or FDs (fixed deposit)?</p>
			</div>	
			
			<div class="col-lg-4 callout">
				<i class="fa fa-hourglass-o fa-2x"></i>
				<h4>How do I plan long term?</h4>
				<p>What is a good tenure for investments? How do I ensure that my short and long terms goals are both taken care of?</p>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-4 callout">
				<i class="fa fa-medkit fa-2x"></i>
				<h4>Do I need health insurance?</h4>
				<p>My employer already provides health insurance - do I need more? Which features of health insurance are important?</p>
			</div>
				
			<div class="col-lg-4 callout">
				<i class="fa fa-money fa-2x"></i>
				<h4>Any other tax saving options?</h4>
				<p>What about sections other than 80C? Does having a home loan give me any tax benefits? How much?</p>
			</div>	
			
			<div class="col-lg-4 callout">
				<i class="fa fa-commenting-o fa-2x"></i>
				<h4>And so on...</h4>
				<p>Financial products can seem daunting. But a good mix is necessary to tailor investments to an individual’s needs. <a href="/questions"> Get Started Now</a>.</p>
			</div>	
		</div>
	</div>
</div> -->