	
	<div ng-include="'client/templates/hero.ng.html'"></div>
	<div ng-include="'client/templates/process.ng.html'"></div>
	<div ng-include="'client/templates/why-us.ng.html'" ></div>
	<!-- <div ng-include="'client/templates/pricing.ng.html'" ></div> -->
	<div ng-include="'client/templates/faq.ng.html'" ></div>
	<div ng-include="'client/templates/team.ng.html'" ></div>
	
	<div ng-include="'client/templates/contact.ng.html'" ></div>
<!-- 	<div ng-include="'client/templates/questions.ng.html'" ></div>
	<div ng-include="'client/templates/reco.ng.html'" ></div> -->