
<!-- ==== Fixed navbar === -->
    <div id="navbar-main">
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <i class="fa fa-bars" style="color: #fff; font-size: 22px;"></i>
              </button>

            </div>
            <div class="navbar-collapse navbar-ex1-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="/home" class="smoothScroll"><i class="fa fa-chevron-circle-up"></i> MintingWorks</a></li>
                </ul>
                <ul class="nav right navbar-nav">
                        <li class="hidden"><a href="#page-top" class="smoothScroll"></a></li>
                    <li> <a href="#process" class="smoothScroll"> Process</a></li>
                    <li> <a href="#why-us" class="smoothScroll"> Why MintingWorks?</a></li>
                    <li> <a href="#faq" class="smoothScroll"> FAQ</a></li>
                    <li> <a href="#team" class="smoothScroll"> About Us</a></li>
                    <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
                    <li> <a href="/questions"> Invest Now</a></li>
                </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
    </div>
