<section id="process" class="process">
	<div class="container">
		<h3 class="process-title ">How does Antkarma works?</h3>
		<div class="row">
			<div class="col-md-4">
				<h3 class="ins-heading ">1. Tell us your preferences</h3>	
				<h4 class="process-text">
					We ask you a set of questions to understand you better. We use this information to understand your
					financial goals and assess your risk profile.
				</h4>
			</div>
			<div class="col-md-4">
				<h3 class="ins-heading ">2. We do the hard work</h3>	
				<h4 class="process-text">
					We run your profile through our advanced data analysis and recommendation service. We do all the number
					crunching, analyse your profile based on recommendation from industry experts.
				</h4>
				
			</div>
			<div class="col-md-4">
				<h3 class="ins-heading ">3. Have peace of mind and relax</h3>	
				<h4 class="process-text">
					Just sit back, relax and check our recommendations. Once you agree, simply fill in your details to buy our recommendations. Through our smart and simple dashboard you can always see how your funds are performing 24/7.
				</h4>

			</div>


		</div>

	</div>
</section>

