<section id="process" class="process">
	<div class="container">
		<h3 class="process-title ">How does MintingWorks works?</h3>
		<hr>
<!-- 		<div class="row">
			<div class="col-md-4">
				<h3 class="ins-heading ">1. Tell us your preferences</h3>	
				<h4 class="process-text">
					We ask you a set of questions to understand you better. We use this information to understand your
					financial goals and assess your risk profile.
				</h4>
			</div>
			<div class="col-md-4">
				<h3 class="ins-heading ">2. We do the hard work</h3>	
				<h4 class="process-text">
					We run your profile through our advanced data analysis and recommendation service. We do all the number
					crunching, analyse your profile based on recommendation from industry experts.
				</h4>
				
			</div>
			<div class="col-md-4">
				<h3 class="ins-heading ">3. Have peace of mind and relax</h3>	
				<h4 class="process-text">
					Just sit back, relax and check our recommendations. Once you agree, simply fill in your details to buy our recommendations. Through our smart and simple dashboard you can always see how your funds are performing 24/7.
				</h4>

			</div> -->

			<div class="col-md-4">
				<h3 class="ins-heading ">1. Tell us about yourself and your financial goals.</h3>	
				<h4 class="process-text">We ask you a set of questions to understand your financial needs better. Your financial history and goals are used to create an investment plan tailored to your needs.</h4>
			</div>
			<div class="col-md-4">
				<h3 class="ins-heading ">2. Our platform recommends an optimized plan to help you achieve the goal.</h3>					
				<h4 class="process-text">We look through hundreds of financial products and select the ones best suited for achievement of your goals. Investments are made post your acceptance of the plan.</h4>
			</div>
			<div class="col-md-4">
				<h3 class="ins-heading ">3. Sit back and relax, we'll monitor progress of your financial goals.</h3>	
				<h4 class="process-text">Our platform evaluates progress towards your goals 24x7 and recommends course corrections if required. Systematic changes are made based on term remaining for investments. Tactical changes are made to keep up with fluctuations in market conditions. Redeem/reinvest your investments as and when you achieve your goals.</h4>
			</div>

	</div>
</section>

