<!-- <section id="reco" class="reco">
	<h2>Listing all recommendations</h2>
	<ul>
		<li ng-repeat = "reco in reco_life_insurance">
			<h5>{{reco.policy_name}}  {{reco.premium}}</h5>
		</li>
	</ul>
</section> -->

<section id="reco" class="reco">
	<div class="col-md-10 col-md-offset-1">
		<h4 class="text-center section-title">Based on your answers, here is your customized plan
			<a href="/questions" class="btn btn-info btn-xs pull-right">Change answers</a>
		</h4>
		<hr>	
	</div>
	<div id="">
		<div id="lifeInsurance" class="life-insurance well col-md-10 col-md-offset-1">
			<div class="row">
				<h4 class="ins-heading col-md-3">Life Insurance
					<button class="ins-heading btn btn-success btn-xs toggleLIReco" ng-click="show_all_li_recos($event)">+ More Options</button>
				</h4>

				<div class="col-md-8 col-md-offset-1">
					<div class="col-md-6">
						<h5 class="ins-heading col-md-10 col-md-offset-1"><div ng-show="isRecommended">Recommended</div>Coverage Amount: 
							<span class="display-amount">{{displayCoverageAmount}}</span>
							<input type="range" name="sliderValue" ng-model="sliderValue" ng-mouseup="update_life_ins_reco($event)" min="0" max="2" step="1">
							<div class="slider-label" id="sliderLabel"></div>
						</h5> 
					</div>
					<div class="col-md-6">
						<h5 class="ins-heading col-md-10 col-md-offset-1"><div ng-show="isRecommended">Recommended</div>Policy Term: 
							<span class="display-amount"> {{ displayPolicyTerm}}</span>

							<input type="range" name="policyTermSlider" ng-model="policyTermSlider" ng-mouseup="update_life_ins_reco($event)" min="0" max="2" step="1">
							<div class="slider-label" id="policyTermSliderLabel"></div>

						</h5> 
					</div>
				</div>
			</div>
			<div class="row heading" >
					<div class="col-md-2 col-md-offset-1  ins-heading">Product Name</div>
					<div class="col-md-1  ins-heading">Sum Insured</div>
					<div class="col-md-3  ins-heading">Additional Coverage</div>
					<div class="col-md-1  ins-heading">Claim Settlement Ratio</div>
					<div class="col-md-1  ins-heading">Annnual Premium</div>
					<div class="col-md-1  ins-heading">Policy Term</div>
					<div class="col-md-1  ins-heading">Max Coverage Upto</div>
			</div>
			<!-- <hr class="col-md-10 col-md-offset-1"> -->
			<div id="hdfcData" class="row well">
				<div class="col-md-2 col-md-offset-1  ins-heading reco-section-column">
					<img class="product-info" src="{{hdfcData.img}}" alt="{{hdfcData.productName}}">
					<div class="product-info">{{hdfcData.policy_name}}</div>
				</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{hdfcData.sum_assured}}</div>
				<div class="col-md-3  ins-heading reco-section-column">{{hdfcData.additional_features}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{hdfcData.claim_settlement_ratio * 100}} %</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{hdfcData.premium}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{hdfcData.payment_term}} years</div>
				<div class="col-md-1  ins-heading reco-section-column">{{hdfcData.max_age_at_maturity}} years</div>
			</div>
			<!-- <hr class="col-md-10 col-md-offset-1"> -->
			<div id="sbiData"  class="row well">
				<div class="col-md-2 col-md-offset-1  ins-heading reco-section-column">
					<img class="product-info" src="{{sbiData.img}}" alt="{{sbiData.productName}}">
					<div class="product-info">{{sbiData.policy_name}}</div>
				</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{sbiData.sum_assured}}</div>
				<div class="col-md-3  ins-heading reco-section-column">{{sbiData.additional_features}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{sbiData.claim_settlement_ratio * 100}} %</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{sbiData.premium}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{sbiData.payment_term}} years</div>
				<div class="col-md-1  ins-heading reco-section-column">{{sbiData.max_age_at_maturity}} years</div>
			</div>
			<!-- <hr class="col-md-10 col-md-offset-1"> -->
			<div id="licData" class="row well">
				<div class="col-md-2 col-md-offset-1  ins-heading reco-section-column">
					<img class="product-info" src="{{licData.img}}" alt="{{licData.productName}}">
					<div class="product-info">{{licData.policy_name}}</div>
				</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{licData.sum_assured}}</div>
				<div class="col-md-3  ins-heading reco-section-column">{{licData.additional_features}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{licData.claim_settlement_ratio * 100}} %</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{licData.premium}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{licData.payment_term}} years</div>
				<div class="col-md-1  ins-heading reco-section-column">{{licData.max_age_at_maturity}} years</div>
			</div>
			<!-- <hr class="col-md-10 col-md-offset-1"> -->
			<div id="iciciData" class="row well">
				<div class="col-md-2 col-md-offset-1  ins-heading reco-section-column">
					<img class="product-info" src="{{iciciData.img}}" alt="{{iciciData.productName}}">
					<div class="product-info">{{iciciData.policy_name}}</div>
				</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{iciciData.sum_assured}}</div>
				<div class="col-md-3  ins-heading reco-section-column">{{iciciData.additional_features}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{iciciData.claim_settlement_ratio * 100}} %</div>
				<div class="col-md-1  ins-heading reco-section-column"><i class="fa fa-inr"></i>{{iciciData.premium}}</div>
				<div class="col-md-1  ins-heading reco-section-column">{{iciciData.payment_term}} years</div>
				<div class="col-md-1  ins-heading reco-section-column">{{iciciData.max_age_at_maturity}} years</div>
			</div>
				<!-- <hr class="col-md-10 col-md-offset-1"> -->
		</div>
	</div>
</section>