<div ng-include="'client/templates/custom-navbar.ng.html'"></div>

<div id="signup" class="signup">
	<div class="col-md-6 col-md-offset-3">
		<div class="navbar hidden-navbar">
			<div class="navbar-inner">
				<ul class="nav nav-pills">
					<li class="active"><a id="firstTab" href="#step1" data-toggle="tab" data-step="1"></a></li>
					<li><a href="#step2" data-toggle="tab" data-step="2"></a></li>
					<li><a href="#step3" data-toggle="tab" data-step="3"></a></li>
				</ul>
			</div>
		</div>


		<div class="tab-content">
			
			<div class="tab-pane fadeIn in active" id="step1">
				<hr>
				<h3 class="text-center">Signup for MintingWorks</h3>
				<hr>
				<div class="well well-lg">
					<div ng-form="stepForm" >
<!-- 					<div class="question-text extra-margin-top extra-margin-bottom" for="email">Email 
						<div class="question-sub-text">Please verify your email.This will be your username for signin.</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input class="form-control input-md transparent-input" name="email" ng-model="signup.email" type="email" required>
						</div>
						<div class="col-md-6">
							<button class="btn btn-info btn-sm" ng-click="verifyEmail()">Verify Email</button>
						</div>							
					</div> -->
					<div class="question-text extra-margin-top extra-margin-bottom" for="email">Email 
						<div class="question-sub-text">Please verify your email.This will be your username for signin.</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<!-- <div class="input-group"> -->
								<!-- <span class="input-group-addon custom-addon">+91</span> -->
								<input class="form-control input-md transparent-input" name="email" ng-model="signup.email" ng-readonly="emailVerificatioInProcess || isEmailVerified" type="email"  required>
							<!-- </div> -->
						</div>
						<div class="col-md-6">
							<div ng-if="!emailVerificatioInProcess && !isEmailVerified">
								<button class="btn btn-info btn-sm" ng-click="sendEmailCode()">Send Code</button>
							</div>
							
							<div ng-if="emailVerificatioInProcess && !isEmailVerified">
								<div class="col-md-6">
									<input class="form-control input-md transparent-input" name="emailCodeText" ng-model="signup.emailCodeText" type="text" placeholder="Enter Code" required>
								</div>
								<button class="btn btn-info btn-sm" ng-click="verifyEmail()" >Verify Email</button>
								<a href="#" ng-click="sendEmailCode()" class="special-a small underline" >Resend Code</a>
								<!-- <p class="small">Wait for {{counter}} seconds before resending otp request</p> -->
								<!-- <button class="btn btn-info btn-sm" ng-click="pop()" ng-href="#">Resend OTP</button> -->
							</div>
							<div ng-if="isEmailVerified">
								<label class="label label-success extra-margin"><i class="fa fa-check-circle"></i>Email Verified</label>
							</div>
						</div>
					</div>
					<hr>

<!-- 					<div class="row">
						<div class="col-md-6">
							<div class="question-text extra-margin-top" for="firstName">First Name </div>
							<input class="form-control input-md transparent-input" name="firstName" ng-model="signup.firstName" type="text" required>
						</div>
						<div class="col-md-6">
							<div class="question-text extra-margin-top" for="firstName">Last Name </div>
							<input class="form-control input-md transparent-input" name="lastName" ng-model="signup.lastName" type="text" required>
						</div>
					</div> -->
					<div class="question-text extra-margin-top extra-margin-bottom" for="email">Enter your mobile number 
						<div class="question-sub-text">One time password will be sent to this number and will be used for future transaction alerts.</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<!-- <div class="input-group"> -->
								<!-- <span class="input-group-addon custom-addon">+91</span> -->
								<input class="form-control input-md transparent-input" name="phone" ng-model="signup.phone" ng-readonly="otp || isPhoneVerified" type="text"  required>
							<!-- </div> -->
						</div>
						<div class="col-md-6">
							<div ng-if="!otp && !isPhoneVerified">
								<button class="btn btn-info btn-sm" ng-click="sendOTP()">Send OTP</button>
							</div>
							
							<div ng-if="otp && !isPhoneVerified">
								<div class="col-md-6">
									<input class="form-control input-md transparent-input" name="otpText" ng-model="signup.otpText" type="text" placeholder="Enter OTP" required>
								</div>
								<button class="btn btn-info btn-sm" ng-click="verifyPhone()" >Verify</button>
								<a href="#" ng-click="sendOTP()" class="special-a small underline" >Resend OTP</a>
								<!-- <p class="small">Wait for {{counter}} seconds before resending otp request</p> -->
								<!-- <button class="btn btn-info btn-sm" ng-click="pop()" ng-href="#">Resend OTP</button> -->
							</div>
							<div ng-if="isPhoneVerified">
								<label class="label label-success extra-margin"><i class="fa fa-check-circle"></i>Phone Verified</label>
							</div>
						</div>
					</div>
					<hr>
					<!-- <div class="text-center" ng-show="otp">Resend OTP in {{counter}} seconds</div> -->
					<!-- <div class="question-text extra-margin-top extra-margin-bottom" for="email">Select a password for future login</div> -->
					<div class="row">
						<div class="col-md-6">
							<div class="question-text  extra-margin-bottom" for="email">Password </div>
							<input class="form-control input-md transparent-input" name="password" ng-model="signup.password" type="password" required>
						</div>
						<div class="col-md-6">

							<div class="question-text  extra-margin-bottom" for="email">Re-enter password</div>
							<input class="form-control input-md transparent-input" name="reenterPassword" ng-model="signup.reenterPassword" type="password" required>
						</div>
					</div>
					<div class="question-sub-text">Signup with this password when you next login.</div>
				</div>
			</div>
			<div class="text-center button-footer extra-margin-top">
				<button class="btn btn-info btn-md next uppercase" >Signup and enter Investor details</button>
				<div class="extra-margin-top"><a class="special-a" ng-href="/signin">Already have an account! Signin</a></div>
				<!-- <p id="form-messages" ng-if="message">{{message}}</p> -->
			</div>

		</div>
		<div class="tab-pane fadeIn" id="step2">
			<h3 class="text-center">Enter details to open Investor's account</h3>
			<div class="well well-lg">
				<div ng-form="step1Form" >
					<div class="question-text " for="panNumber">Please enter your 10 digit PAN number?</div>	
					<input class="form-control input-md transparent-input extra-margin-top" name="panNumber" ng-model="signup.panNumber" type="text" autofocus required>
					<button class="btn btn-info btn-md text-center extra-margin-top extra-margin-bottom col-md-12">VERIFY YOUR PAN</button>


					<div class="col-md-6 no-left-padding">
						<div class="question-text extra-margin-top" for="firstName">First Name </div>
						<input class="form-control input-md transparent-input" name="firstName" ng-model="signup.firstName" type="text" required>
					</div>
					<div class="col-md-6 no-left-padding">
						<div class="question-text extra-margin-top" for="firstName">Last Name </div>
						<input class="form-control input-md transparent-input" name="lastName" ng-model="signup.lastName" type="text" required>
					</div>
				</div>
			</div>
			<div class="text-center button-footer">
				<a class="btn btn-custom btn-md prev" href="#">Previous</a>
				<button class="btn btn-custom btn-md next">Next</button>
			</div>

		</div>
		<div class="tab-pane fadeIn" id="step3">
			<h2>This is tab 3</h2>
			<div class="text-center button-footer">
				<a class="btn btn-custom btn-md prev" href="#">Previous</a>
				<button class="btn btn-custom btn-md next">Next</button>
				<!-- <button class="btn btn-custom btn-md next" >Next</button> -->
			</div>
		</div>

	</div>
</div>
<toaster-container toaster-options="{'time-out': 8000, 'close-button':true, 'position-class': 'toast-top-right', 'progressBar': true}"></toaster-container>
<div id="spinner" class="spinner"><i class="fa fa-spinner fa-4x fa-spin"></i></div>
</div>