<div ng-include="'client/templates/custom-navbar.ng.html'"></div>
<div id="signin" class="signin">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="section-heading text-center">Signin for MintingWorks</div>
			<hr>
			<div class="well well-lg">
				<div ng-form="stepForm" >
					<h4 for="email" class="extra-margin-top">Email</h4>
					<input class="form-control input-md transparent-input extra-margin-top extra-margin-bottom" name="email" ng-model="signin.email" type="email"  placeholder="Enter email" required>
					<div class="help-block" ng-messages="stepForm.email.$error"  ng-show="stepForm.email.$touched"><div ng-messages-include="client/templates/messages.html"></div></div>

					<h4 for="password" class="extra-margin-top">Password <a href="/forgot-reset-password" class="special-a small underline">  (forgot password)</a></h4>
					<input class="form-control input-md transparent-input extra-margin-top extra-margin-bottom" name="password" ng-model="signin.password" type="password" placeholder="password" required>

					<div class="row extra-margin-top extra-margin-bottom">
						<button class="btn btn-success text-center col-md-4 col-md-offset-4 extra-margin-top" ng-click="login()">Sign in</button>
					</div>
					<h5 class="text-center col-md-8 col-md-offset-2">Don't have an account! <a ng-href="/signup" class="special-a underline"> Open Account </a></h5>
				</div>

			</div>
		</div>
	</div>
	<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'position-class': 'toast-top-right'}"></toaster-container>
	<div id="spinner" class="spinner"><i class="fa fa-spinner fa-4x fa-spin"></i></div>
</div>
