<!-- <div ng-include="'client/templates/custom-navbar.ng.html'"></div> -->
<div id="taxsavings" class="taxsavings">

<!-- 	<div class="tax-savings-hero" ng-show="!showQuestions">
			<div class="col-md-10 col-md-offset-1 extra-margin-top">
				<div class="tax-savings-hero-title large text-center">Tax Savings Simplified</div>
				<hr>
				<div class="tax-savings-hero-text medium text-center animated fadeInLeftBig">
					<br><button class="btn btn-lg title-btn text-center extra-margin-top" ng-click="accessRiskProfile()">Access your risk tolerance Now > </button>
				</div>
				
			</div>
	</div>
	<div class="riskQuestions" ng-show="showQuestions"> 
		<div ng-include="'client/templates/questions.ng.html'"></div>
	</div>
 -->	


	<div class="tax-consideration">
		<div class="container">
			<h2 class="text-center uppercase">Tax saving investments require careful consideration.</h2>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<h4><i class="fa fa-search"></i>Which life insurance do I buy?</h4>
					<p>How much cover do I need? Is a money back policy better suited than a term insurance? Which insurer should I go with?</p>
				</div><!-- col-md-4 -->
					
				<div class="col-md-4">
					<h4><i class="fa fa-line-chart"></i> How do I make my money grow?</h4>
					<p>Isn’t investing in mutual funds risky? How do I pick the right mutual fund? How about PPFs or FDs (fixed deposit)?</p>
				</div><!-- col-md-4 -->	
				
				<div class="col-md-4">
					<h4><i class="fa fa-hourglass-o"></i> How do I plan long term?</h4>
					<p>What is a good tenure for investments? How do I ensure that my short and long terms goals are both taken care of?</p>
				</div><!-- col-md-4 -->	
			</div><!-- row -->
		</div>	
	</div>
	<!-- ==== PROCESS ==== -->
	<div class="tax-saving-info">
		<div class="container">
			<div class="row">
				<h2 class="text-center uppercase">Good tax saving investments needs customization</h2>
				<hr>
				<div class="col-md-6">
					<h4><strong>One size doesn't fit all.</strong></h4>
					<p>Individuals have varying risk tolerance and the risk taking capability. An investor’s risk tolerance is a mix of his/her ability and the willingness to take risk. Your life circumstances – income, assets, age, education, dependents, financial goals – determine your ability to take risk. Your level of comfort with fluctuations in the value of your investments defines your willingness to take risks. Risk taking ability changes with whether you are saving for your retirement (long term) or your marriage (short term).</p>
				</div>
				
				<div class="col-md-6">
					<p>If you are a person who enjoys taking risks in general and think of risks as opportunities, your willingness to take risk is high. If you are the one who loses sleep over fluctuations in the value of your investments, you probably don’t like to take risks.</p>
					<p>Any investment advice, like clothing, has to be tailored to fit the individual. Tax saving investments are no different. While one objective is to maximise tax savings, it doesn’t end here. The other aim should be to make investments best suited to your needs.</p>
				</div><!-- col-md-5 -->
			</div><!-- row -->
		</div><!-- container -->
	</div>

	
	<!-- ==== FAQ ==== -->
	<div class="faq">
		<div class="container">
			<div class="row">
				<h2 class="text-center uppercase">Frequently asked questions</h2>		
				<hr>
				<div class="col-md-5 col-md-offset-1">

					<h4>Why do you need so much information?</h4>
					<p>We need to understand your current financial status, ongoing tax saving investments, outstanding liabilities and your risk tolerance to come up with an investment plan. It doesn’t matter whether the answers to a lot of the questions are “none” or “nothing”. Those answers are equally important. The strength of the plan depends on the availability of accurate information.</p>

					<h4>Why should I trust your recommendations?</h4>
					<p>Firstly, the basis of all our recommendations is data and hard facts. The recommendation and analysis is shared on our website and you can choose to invest only if you are convinced about it. Secondly, our team consists of experts who have a cumulative experience of more than a decade successfully managing investments for other clients. Thirdly, we put our money where our mouth is. We advise you the same funds that we invest in ourselves.</p>


				</div><!-- col-md-5 -->
				
				<div class="col-md-5">

					<h4>Do I need to pay for this service?</h4>
					<p>No. This service is completely free for investments upto Rs. 2,00,000. No subscription charges, no commission. Beyond the first 2 lakhs, we charge a commission of upto 1% of the investment. We don't have tie-ups with any of the companies that receive your investments. You can even choose to invest directly with the fund houses to save on the commission as well if you wish.</p>

					<h4>What is the benefit of investing with MintingWorks?</h4>
					<p>Financial planning is an ongoing affair and we will ensure that you are always on top. Our automated platform will constantly monitor and rebalance your portfolio. You will also receive investment recommendations based on your changing life stage and new financial needs that come up. Finally, MintingWorks provides a platform for you to manage all your investments in one place.</p>
				</div><!-- col-md-5 -->
				
			</div>
		</div>
	</div>
	<div class="bottom-cta">
		<div class="container">
			<h2 class="text-center uppercase">Want to save taxes?</h2>
			<a class="btn title-btn col-md-4 col-md-offset-4" href="/questions#questions">Invest Now</a>
		</div>
	</div>
	<div ng-include="'client/templates/contact.ng.html'" ></div>
</div>