
<section id="team" class="team">

	<!-- ==== TEAM MEMBERS ==== -->
	<div class="container">
		<div class="row">
			<h1 class="team-title">About us</h1>			
			<hr>

			<div class="quotes">
				<div>
				At Antkarma we have only one goal - helping you to save your hard earned money. We truly believe your money deserves the best treatment. We levarage cutting edge technology along with the sound advise of our financial advisors to build the right investment portfolio for you. 
				</div>
				<div>
				We realized that a lot of people feel wealth management is complex, obsure and time consuming affair. With Antkarma we are going to change that. We aim to bring transparency in wealth management system by building simple, easy to use financial management application. 
				</div>
				<div>
				We envision everyone who invests through Antkarma should feel confident about their financial future. We want to help our technology saavy investors in realizing their ambitions and dreams without worrying about finances.
				</div>
			</div>
			<br>
			<br>
			<h1 class="team-title">Meet the team</h1>
			<hr>
			<div class="col-md-6">
				<img class="img img-circle centered" src="images/mayank.jpg" height="120px" width="120px" alt="">
				<br>
				<h3>
					Mayank Singh
					<a href="https://www.linkedin.com/in/mayanksgh" target="_blank" class="fa fa-linkedin-square" style="font-size:22px;"></a>
				</h3>
				<p class="team-text">The idealist of the group, Mayank is always looking to make things better, smoother or easier or all at once. His favourite quip is "Think long term". His role model would be Warren Buffett and an IronMan triathlete rolled into one. Inspired by early stage stints at two of India's unicorns, and armed with a toolbox gathered at IIM, Mayank is on a mission to help India plan for future.</p>
			</div><!-- col-lg-4 -->
			
			<div class="col-md-6">
				<img class="img img-circle centered" src="images/saurabh.jpg" height="120px" width="120px" alt="">
				<br>
				<h3>
					Saurabh Shrivastava
					<a href="https://www.linkedin.com/in/saurabhshrivastava09" target="_blank" class="fa fa-linkedin-square" style="font-size:22px;"></a>
				</h3>
				<p class="team-text">Saurabh focuses on all technical aspects and product development for Ant Karma. He is a graduate from Carnegie Mellon University and brings in 5 years of startup experience working as an engineer for Linkedin in Silicon Valley. He is passionate about building modern web and mobile applications leveraging data and data science. He loves to read and travel, before starting Ant Karma he took a career break to travel the world with his wife.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- container -->

</section>

