
<section id="team" class="team">

	<!-- ==== TEAM MEMBERS ==== -->
	<div class="container">
		<div class="row">
			<h1 class="team-title">About us</h1>			
			<hr>

			<div class="quotes">
				<div>
				At MintingWorks we have only one goal - helping you realize you financial goals. We truly believe your money deserves the best treatment. With MintingWorks we want to make personal finance management simple and intuitive.
				</div>
				<div>
					Most of us seek help with financial matters in our circle of friends or family. But financial planning is an ongoing exercise and not a one-time effort. The vastness of the financial sector with a multitude of products along with its ever changing nature makes the task even more complex. At MintingWorks, we build solutions that will customize the choice of financial products based on your specific needs. With daily monitoring we help you stay on course to achieve your goals.

				</div>
<!-- 				<div>
				We realized that a lot of people feel wealth management is complex, obsure and time consuming affair. With MintingWorks we are going to change that. We aim to bring transparency in wealth management system by building simple, easy to use financial management application. 
				</div>
				<div>
				We envision everyone who invests through MintingWorks should feel confident about their financial future. We want to help our technology saavy investors in realizing their ambitions and dreams without worrying about finances.
				</div>
 -->		</div>
			<br>
			<br>
			<h1 class="team-title">Meet the team</h1>
			<hr>
			<div class="col-md-6">
				<img class="img img-circle centered" src="images/mayank.jpg" height="120px" width="120px" alt="">
				<br>
				<h3>
					Mayank Singh
					<a href="https://www.linkedin.com/in/mayanksgh" target="_blank" class="fa fa-linkedin-square" style="font-size:22px;"></a>
				</h3>
				<p class="team-text">Mayank is the generalist in the team and keeps the MintingWorks machine ticking. He is a graduate from IIM Kozhikode and has previously worked with Flipkart and Mu Sigma in various business roles. Being an avid sportsperson he loves to play football, badminton and table tennis. He idolizes Warren Buffett for his humbleness and generosity and his efforts towards making the world a better place to live. Mayank hopes to do the same and believes that MintingWorks is a step in that direction.
				</p>
			</div><!-- col-lg-4 -->
			
			<div class="col-md-6">
				<img class="img img-circle centered" src="images/saurabh.jpg" height="120px" width="120px" alt="">
				<br>
				<h3>
					Saurabh Shrivastava
					<a href="https://www.linkedin.com/in/saurabhshrivastava09" target="_blank" class="fa fa-linkedin-square" style="font-size:22px;"></a>
				</h3>
				<p class="team-text">Saurabh focuses on all technical aspects and product development for MintingWorks. He is a graduate from Carnegie Mellon University and brings in 5 years of startup experience working as an engineer for Linkedin in Silicon Valley. He is passionate about building modern web and mobile applications leveraging data and data science. He loves to read and travel, before starting MintingWorks he took a career break to travel the world with his wife.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- container -->

</section>

