<section id="why-us" class="why-us">
	<div class="container">
		<h3 class="why-us-title ">Why you should use MintingWorks?</h3>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<h3 class="ins-heading "><i class="fa fa-globe"></i> Good Financial Planning For Everyone</h3>	
				<h4 class="why-us-text">
					Good financial advice should not depend on minimums. We make great financial advice available irrespective of your investment corpus.
				</h4>
			</div>
			<div class="col-md-3">
				<h3 class="ins-heading "><i class="fa fa-ban"></i> No hidden fees. No surprises. Complete Transparency.</h3>	
				<h4 class="why-us-text">
					We believe in trust and transparency. We do not and will never charge any hidden fees.  At MintingWorks, customer always comes first - we firmly believe in investing for your best interest. 
				</h4>
				
			</div>
			<div class="col-md-3">
				<h3 class="ins-heading "><i class="fa fa-cogs"></i> Unbiased Recommendations</h3>	
				<h4 class="why-us-text">
					We believe in long term investor planner relationship. We want to work with you for years to come and that can only happen if we have your trust. Our recommendations are not based on commissions but solely based on your needs. 
				</h4>
			</div>
			<div class="col-md-3">
				<h3 class="ins-heading "><i class="fa fa-money"></i> Cost Efficient</h3>	
				<h4 class="why-us-text">
					Manage upto 2 Lakh rupees free of cost. Investments beyond that will be charged a small percentage based fee (&lt;1% of AUM).
				</h4>

			</div>
		</div>
		<!-- <h3 class="why-us-title-subtext ">No hidden fees. No surprises.</h3> -->
	</div>
</section>

