<section id="why-us" class="why-us">
	<div class="container">
		<h3 class="why-us-title ">Why should you chose Antkarma?</h3>
		<div class="row">
			<div class="col-md-3">
				<h3 class="ins-heading ">1. World class investment advice for everyone</h3>	
				<h4 class="why-us-text">
					We work hard with the best investment advisors to get the most value for your investment.
				</h4>
			</div>
			<div class="col-md-3">
				<h3 class="ins-heading ">2. No hidden fees. No surprises.</h3>	
				<h4 class="why-us-text">
					We believe in trust and transparency. We do not and will never charge any hidden fees.  At Antkarma, customer always comes first - we firmly believe in investing for your best interest. 
				</h4>
				
			</div>
			<div class="col-md-3">
				<h3 class="ins-heading ">3. Unbiased Recommendations</h3>	
				<h4 class="why-us-text">
					Our recommendations are fully based on your risk profile and financial goals. We do not charge commision from the the investment fund houses we recommend. 
				</h4>
			</div>
			<div class="col-md-3">
				<h3 class="ins-heading ">4. Cost Efficient</h3>	
				<h4 class="why-us-text">
					Invest upto 1 Lakh rupees free of cost. Above 1 Lakh rupee we charge a flat 0.25% of your investment amount which is 75% less than traditional financial advisory services.
				</h4>

			</div>
		</div>

	</div>
</section>

